:root {
    --white: #ffffff;
    --mostly-black: #020204;

    --orange: #C7A17A;
    --light-orange: #e4d2bf;

    --very-light-gray: #DFDFDF;
    --dark-gray: #818181;

    --very-dark-blue: #14141D;
    --light-dark-blue: #22222F;
    --dark-grayish-blue: #32323d;
    --very-dark-grayish-blue: #32323d;

    --transition-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --hero-after: rgba(2, 2, 4, 0.55);
}