<header>
  <div class="lang--panel container">
    <ul class="lang--list">
      <li class="lang--list__item">
        <a class="hover" href="#">RU</a>
      </li>
      <li class="lang--list__item">
        <a class="active" href="#">EN</a>
      </li>
    </ul>
    <button disabled>dwa</button>
    <a class="lang--tel hover" href="tel:#">+371000000</a>
  </div>

  <div class="hr"></div>

  <div class="nav--wrapper container">
    <nav class="nav">
      <ul class="nav--list">
        <li class="nav--list__link"><a class="active" href="#">Home</a></li>
        <li class="nav--list__link"><a class="hover" href="#">About</a></li>
        <li class="nav--list__link"><a class="hover" href="#">Menu</a></li>
        <li class="nav--list__link">
          <a class="hover" href="#">Reservation</a>
        </li>
      </ul>
    </nav>

    <a class="logo--header" href="#">
      <img src="./images/logo.png" alt="Logo" />
    </a>

    <ul class="header--icons">
      <li class="header--icons__item">
        <a href="">
          <svg class="hover--icons" width="25" height="24">
            <use href="./images/symbol-defs.svg#icon-user"></use>
          </svg>
        </a>
      </li>
      <li class="header--icons__item">
        <a href="">
          <svg class="hover--icons" width="27" height="24">
            <use href="./images/symbol-defs.svg#icon-heart"></use>
          </svg>
        </a>
      </li>
      <li class="header--icons__item">
        <a href="">
          <svg class="hover--icons" width="19" height="24">
            <use href="./images/symbol-defs.svg#icon-cart"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>

  <div class="hr"></div>
</header>
