.container {
    @media (min-width: 1026px) {
        padding: 0 360px;
    }

    @media (max-width: 1025px) {
        padding: 0 50px;
    }

    @media (max-width: 767px) {
        padding: 0 20px;
    }
}